body{
    width: 100%;
    background-size: cover;
    background-position: 40%;
    background-color: #F8F9FA;
    font-family: 'Noto Serif', serif;
  }

.homeFirstDiv{
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
  background-color: #F8F9FA;
  margin-top: 0; 
  width: 100%;
}
.homeSecondDiv{
  background-size: 300px;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
}

.homeThirdDiv{  
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  
}

.homeFourthDiv{
  background-color: #141414;
  max-height: 400px;
  width: 100%;
}

.header{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.container{
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 100px;
  height: 100vh;
}

.calendar {
  padding-left: 40px;
  padding-top: 40px;
  display: flex;
  
}

.input {
  position: relative;
  top: 10vh;
  left: 5vw;
}

.navbar{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
  
}

.nav{
  flex: 1;
  text-align: right;
}

.userlogo{
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 13px;
  padding: 5px 2px;
}

ul li a::after{
  content: '';
  width: 0;
  height: 4px;
  background: #38B6FF;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -60px;
  transition: 0.5s;
}
b
.hero{
  width: 90%;
  margin: auto;
}

.navbarHero{
  margin: 15px auto;
  display: flex;
  align-items: center;
}

ul{
  flex: 1;
  text-align: right;
}

ul li{
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}

ul li a{
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  position: relative;
}

ul li a:hover::after{
  width: 50%;
}

.logocompany{
  max-width: 140px;
  cursor: pointer;
  padding-top: 50px;
  padding-left: 50px;
  background-color: #F8F9FA ;
}

.logocompanyReg{
  max-width: 120px;
  cursor: pointer;
  padding-top: 20px;
  padding-left: 20px;
  background-color: transparent ;
}

.text1{
  background-color: #F8F9FA;
  padding: 2px;
  align-content: flex-end;
}

.picture{
  right: 0;
}



.tableStyling{
  background-color: brown;
}


.indexBox{
  background-image: url("building_bg.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: centre;
  height: 100vh;
  width: 100%;
}

.indexBoxReg{
  background-image: url("building_bg.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: centre;
  height: 130vh;
  width: 100%;
}

.loginBox input[type=text] {
  border: none;
  border-bottom: black;
  background: transparent;
  outline: none;
  height: 40px;
}

.IndexLogin {
  border: none;
  background: black;
  outline: none;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  width: 100%;
}

.IndexLogin:hover{
  cursor: pointer;
  background: rgb(58, 55, 55);
}


.loginBox{
  width: 420px;
  height: 320px;
  background: #F8F9FA;
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;  
  padding: 0px 30px;
  justify-content: space-around;
  border-radius: 25px;
}

.h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.gDriveDiv{
  padding: 40px 30px;

}

.RegUsername{
  position: absolute;
   right: 0; 
   top: 0; 
   padding-right: 25% ;
   padding-top: 2%;
   
}

.RegPassword{
  position: absolute;
  right: 0; 
  top: 0; 
  padding-right: 2% ;
  padding-top: 2%;
}

.updateDiv{

  background-size: 400px;
  height: 750px;
  background-repeat: no-repeat;

  }

  form{
    padding: 10px;
  }

  .updateDiv2{
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;  
    color:white;
    height: 570px;
    border-radius: 15px 15px 0px 0px;

  }

  .updateDiv3{
    background-color: white;
    width: 800px;
    margin: auto;  
    color:black;
    height: 570px;
    border-radius: 15px 15px 0px 0px;

  }

  .RegForm{
    width: 800px;
    background-color: rgb(0, 0, 0, 6);
    margin:auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
  }

  .firstnameReg{
    position: relative;
    left: 15%;    
    top: -37;
    line-height: 20px;
    padding: 0 22px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }

  .teacherId{
    position: relative;
    left: 10%;    
    top: -37;
    line-height: 20px;
    padding: 0 22px;
    font-size: 16px;
  }

  .studentId{
    position: relative;
    font-size: 16px;
  }
  .demeritId{
    position: relative;
    left: 35%;
  }

  .lastnameReg{
    position: relative;
    left: 50%;
    top: -24px;   
    line-height: 20px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    border-radius: 5px;
    border: none;
  }

  .emailReg{
    position: relative;
    left: 15%;    
    top: -37;
    line-height: 20px;
    padding: 0 22px;
    font-size: 16px;
    width: 520px;
    border-radius: 5px;
    border: none;
    }

  .usernameReg{
    position: relative;
    left: 15%;    
    top: -37;
    line-height: 20px;
    padding: 0 22px;
    font-size: 16px;
    width: 520px;
    border-radius: 5px;
    border: none;
  }

.passwordReg{
  position: relative;
  left: 15%;    
    top: -37;
    line-height: 20px;
    padding: 0 22px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.confirmpasswordReg{
  position: relative;
  left: 50%;
  top: -24px;   
  line-height: 20px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  border-radius: 5px;
    border: none;
}

.phonenumReg{
  position: relative;
  left: 15%;    
  top: -37;
  line-height: 20px;
  padding: 0 22px;
  font-size: 16px;
  border-radius: 5px;
    border: none;
}

.facultyReg{
  position: relative;
  left: 15%;    
  top: -37;
  line-height: 20px;
  padding: 0 22px;
  font-size: 16px;
  border-radius: 5px;
    border: none;
}

.degreeReg{
  position: relative;
  left: 23%;    
  top: -37;
  line-height: 20px;
  padding: 0 22px;
  font-size: 16px;
  border-radius: 5px;
    border: none;
}

.enrollmentReg{
  position: relative;
  left: 15%;    
  top: -37;
  line-height: 20px;
  padding: 0 22px;
  font-size: 16px;
  border-radius: 5px;
    border: none;
}

/* */

.content {
    margin-top: 3em;
    background: rgba(228, 228, 228, 0.5);
    color:  rgb(27, 29, 27);
    border-radius: 2em;
    padding: 1em;
    }
.regist {
    margin-top: 3em;
    background: rgba(228, 228, 228, 0.5);
    color:  rgb(27, 29, 27);
    border-radius: 2em;
    padding: 1em;
    text-align: center;
}
#returnlog {
    margin-left: 2em;
}


.button {
    border: none;
    border-radius: 12px;
    color: black;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  
  
  .button:hover {background-color: #e7e7e7;}

  .bottomcontent {
  margin-top: 5em;
  margin-right: 1em;
    background: rgba(228, 228, 228, 0.8);
    color:  rgb(27, 29, 27);
    border-radius: 1em;
    /* border-radius: 2em; */
    width: 45%;
    height: 10em;
    border-color: black;
  }

  .bottcontent {
      text-align: center;
      margin-top: 5em;
      margin-left: 1em;
      background: rgba(228, 228, 228, 0.8);
      color:  rgb(27, 29, 27);
      border-radius: 1em;
      /* border-radius: 2em; */
      right: auto;
      width: 45%;
      height: 10em;
      
  }
  
.navSpace {
    margin-left: 9em;
}

  .navInfo {
    float: left;
    margin-left: 2em;
  }

  .signOut {
      float: right;
      /* margin-top: 0.8em; */
      margin-right: 10em;
  }
  
  /* Change the link color to #111 (black) on hover */
  
  .center {
     left:0;
      height: 150px;
      width: 150px;
  }
  .headBox {
      text-align: center;
  }

  .select-content {
      background: rgba(22, 22, 22, 0.5);
      color: white;
      padding: 2em;
      border-radius: 1em;
    margin: auto;
    width: 50%;
  }
 

  option:hover {
      background: rgb(63, 63, 63);
      color: white;
  }

 #contentbtn {
     /* margin-right: 2em; */
     border-color:  rgba(22, 22, 22, 0.5);
 }
 #bookingbtn {
    border-color:  rgba(22, 22, 22, 0.5);
 }

  .list-input {
      padding: 3em;
      width: 80%;
      height: 50%;
      margin-left: 10em;
  }

  #searchbar {
      display: inline;
      float: right;
      margin-right: 2em;
      margin-top: 0.7em;
      /* padding: 5px; */

  }

  .about-body{
    margin-top: 3em;
    background: rgba(228, 228, 228, 0.5);
    color:  rgb(27, 29, 27);
    border-radius: 2em;
    width: 60%;
    padding: 1em;
    margin-left: 24em;
    text-align: center;
    color: black;
  }

  /* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}
.tablink:active {

  background-color: #141414;

}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#highSchool {background-color:rgb(78, 78, 77);}
#University {background-color:rgb(53, 53, 52);}

/*Ratings*/

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 3vw;
  color: #44BEFB;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

body {
  background: #222225;
  color: white
}

h1,
p {
  text-align: center
}

h1 {
  margin-top: 150px
}

p {
  font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
  h1 {
      font-size: 14px
  }

  p {
      font-size: 12px
  }
}